includes:
    - ./vendor/larastan/larastan/extension.neon
    
parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/find-config.php
    ignoreErrors:
        - identifier: trait.unused
        - identifier: varTag.trait
